@use '../../abstracts' as *;
@forward './left';
@forward './right';
@forward './mobile';
@forward './medium';


.container{
    width: 100vw;
    height: 100vh;
    @include center(center, center, row)
}
.left, .right{
    width: 50vw;
    height: 100vh;
    position: relative;
    
}
