@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
.left {
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.left .age {
  width: 100%;
  height: 90%;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
}
.left .age svg path {
  fill: #FFF;
}
.left .age .slogan {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 36px;
  text-align: center;
  width: 60%;
  color: #0ABDE3;
}
.left .age .social {
  width: 60%;
}
.left .age .social a {
  color: #FFF;
  font-style: normal;
  text-decoration: none;
}
.left .age .social i {
  font-size: 24px;
  margin-right: 0.5rem;
  cursor: pointer;
}
.left .age .social i.fa-facebook {
  color: #0ABDE3;
}
.left .age .social p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.right p.sing-up {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  margin: 16px;
}
.right form {
  width: 80%;
  height: auto;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.right form input {
  width: 65%;
  height: 3.5rem;
  border: 0;
  outline: none;
  background-color: #F9F9F9;
  border-radius: 2rem;
  margin: 0.8rem 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
.right form input[type=submit] {
  height: 2.5rem;
  width: 30%;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  background-color: #0ABDE3;
  color: #FFF;
  outline: 3px solid #0ABDE3;
  outline-offset: -3px;
}
.right form input[type=submit]:hover {
  transition: 0.4s cubic-bezier(0.46, 0.02, 0.31, 0.99);
  outline-offset: 3px;
}
.right p.log-in {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #868686;
}
.right p.log-in a {
  text-decoration: none;
}
.right p.log-in span {
  color: #DF558A;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  #left .age {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  #left .age .social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    z-index: 150;
  }
  #left .age .social a, #left .age .social i {
    color: #0ABDE3;
    font-size: 24px;
  }
  #left .age .social a.fa-facebook, #left .age .social i.fa-facebook {
    color: #868686;
  }
  #left .age .social p {
    color: #868686;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }
  #left .age svg, #left .age svg path {
    fill: #0ABDE3;
    z-index: 150;
  }
}
@media screen and (max-width: 700px) {
  #right {
    z-index: 100;
    background-color: #FFF;
  }
  #right form input {
    width: 100%;
  }
  #right form input[type=submit] {
    width: 40%;
  }
}
@media (max-width: 700px) {
  #container {
    display: block;
  }

  #left, #right {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 950px) {
  #left p.slogan {
    font-size: 2.3rem;
    width: 80%;
  }
}
@media screen and (max-width: 950px) {
  #right input {
    width: 80%;
  }
  #right input[type=submit] {
    width: 40%;
  }
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.left, .right {
  width: 50vw;
  height: 100vh;
  position: relative;
}

/*# sourceMappingURL=styles.css.map */







.alert{
  width: 150px;
  height: auto;
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: .3rem;
  right: -250px;
  background-color: red;
  padding: 1rem 2rem;
  border-radius:5px;
  font-size: 1.5rem;
  color: #FFF;
  z-index:1300;
  animation: alerta .7s ease-in-out;
}
@keyframe alerta{
  from{
      right:-250px;
  }
  to{
      right:.3rem;
  }
}




