<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="img/polaroid.png" type="image/x-icon">

    <link rel="stylesheet" href="styles/css/normalize.css">
    <link rel="stylesheet" href="styles/css/home.css">
</head>
<body>
    <nav class="nav" id="nav">
        <div class="nav-top">
            <svg class="menu" id="menu" width="32" height="30" viewBox="0 0 32 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.949463 2.5C0.949463 1.83696 1.17774 1.20107 1.58406 0.732233C1.99039 0.263392 2.54149 0 3.11613 0H29.1161C29.6908 0 30.2419 0.263392 30.6482 0.732233C31.0545 1.20107 31.2828 1.83696 31.2828 2.5C31.2828 3.16304 31.0545 3.79892 30.6482 4.26776C30.2419 4.7366 29.6908 5 29.1161 5H3.11613C2.54149 5 1.99039 4.7366 1.58406 4.26776C1.17774 3.79892 0.949463 3.16304 0.949463 2.5Z" fill="#535353"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.949463 15C0.949463 14.337 1.17774 13.7011 1.58406 13.2322C1.99039 12.7634 2.54149 12.5 3.11613 12.5H29.1161C29.6908 12.5 30.2419 12.7634 30.6482 13.2322C31.0545 13.7011 31.2828 14.337 31.2828 15C31.2828 15.663 31.0545 16.2989 30.6482 16.7678C30.2419 17.2366 29.6908 17.5 29.1161 17.5H3.11613C2.54149 17.5 1.99039 17.2366 1.58406 16.7678C1.17774 16.2989 0.949463 15.663 0.949463 15Z" fill="#535353"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.949463 27.5C0.949463 26.8369 1.17774 26.201 1.58406 25.7322C1.99039 25.2634 2.54149 25 3.11613 25H16.1161C16.6908 25 17.2419 25.2634 17.6482 25.7322C18.0545 26.201 18.2828 26.8369 18.2828 27.5C18.2828 28.163 18.0545 28.7989 17.6482 29.2677C17.2419 29.7366 16.6908 30 16.1161 30H3.11613C2.54149 30 1.99039 29.7366 1.58406 29.2677C1.17774 28.7989 0.949463 28.163 0.949463 27.5Z" fill="#535353"/>
            </svg>
            <div class="user">
                <p class="username">Mative</p>
                <div class="search">
                    <input type="text" name="" id="">
                    <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M30.2827 28.431L21.9027 20.051C23.9165 17.6334 24.9207 14.5325 24.7064 11.3934C24.4921 8.25432 23.0759 5.31868 20.7523 3.19718C18.4287 1.07569 15.3766 -0.0683156 12.231 0.00315823C9.08543 0.074632 6.08848 1.35608 3.86364 3.58092C1.63879 5.80577 0.357347 8.80271 0.285873 11.9483C0.214399 15.0939 1.3584 18.146 3.4799 20.4696C5.60139 22.7932 8.53704 24.2094 11.6761 24.4237C14.8152 24.638 17.9161 23.6338 20.3337 21.62L28.7137 30L30.2827 28.431ZM2.54168 12.2457C2.54168 10.2705 3.12739 8.3397 4.22475 6.69738C5.32211 5.05507 6.88184 3.77504 8.70668 3.01916C10.5315 2.26329 12.5395 2.06552 14.4768 2.45086C16.414 2.8362 18.1935 3.78735 19.5902 5.18402C20.9868 6.5807 21.938 8.36017 22.3233 10.2974C22.7087 12.2347 22.5109 14.2427 21.755 16.0675C20.9992 17.8924 19.7191 19.4521 18.0768 20.5494C16.4345 21.6468 14.5036 22.2325 12.5285 22.2325C9.8807 22.2296 7.34223 21.1765 5.46998 19.3042C3.59773 17.432 2.54462 14.8935 2.54168 12.2457V12.2457Z" fill="#CFCFCF"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="nav-bottom">
            <div class="album" id="album">
                <p class="album"></p>
                <svg class="trash" id="trash" width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.28271 7H28.2827L25.9127 28.33C25.8315 29.0641 25.4823 29.7424 24.9321 30.235C24.3819 30.7277 23.6693 31.0001 22.9307 31H9.63471C8.89617 31.0001 8.18356 30.7277 7.63334 30.235C7.08312 29.7424 6.73395 29.0641 6.65271 28.33L4.28271 7Z" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.29997 2.7205C9.5426 2.20595 9.92653 1.771 10.407 1.46637C10.8874 1.16174 11.4446 0.999993 12.0135 1H20.5515C21.1206 0.999709 21.6781 1.16132 22.1588 1.46596C22.6396 1.77061 23.0237 2.20572 23.2665 2.7205L25.2825 7H7.28247L9.29997 2.7205Z" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1.28271 7H31.2827" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.2827 14.5V22" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19.2827 14.5V22" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="add-album">
                <p>Add a new album</p>
                <svg class="plus" id="plus" width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.2827 0C15.78 0 16.2569 0.197544 16.6085 0.549175C16.9602 0.900806 17.1577 1.37772 17.1577 1.875V13.125H28.4077C28.905 13.125 29.3819 13.3225 29.7335 13.6742C30.0852 14.0258 30.2827 14.5027 30.2827 15C30.2827 15.4973 30.0852 15.9742 29.7335 16.3258C29.3819 16.6775 28.905 16.875 28.4077 16.875H17.1577V28.125C17.1577 28.6223 16.9602 29.0992 16.6085 29.4508C16.2569 29.8025 15.78 30 15.2827 30C14.7854 30 14.3085 29.8025 13.9569 29.4508C13.6053 29.0992 13.4077 28.6223 13.4077 28.125V16.875H2.15771C1.66043 16.875 1.18352 16.6775 0.83189 16.3258C0.480259 15.9742 0.282715 15.4973 0.282715 15C0.282715 14.5027 0.480259 14.0258 0.83189 13.6742C1.18352 13.3225 1.66043 13.125 2.15771 13.125H13.4077V1.875C13.4077 1.37772 13.6053 0.900806 13.9569 0.549175C14.3085 0.197544 14.7854 0 15.2827 0V0Z" fill="#DF558A"/>
                </svg>
            </div>
        </div>
    </nav>
    <div class="main" id="main"></div>
</body>
</html>