<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="/img/polaroid.png" type="image/x-icon">

    <link rel="stylesheet" href="/styles/css/normalize.css">
    <link rel="stylesheet" href="/styles/css/home.css">
</head>
<body>
    <div class="logo">
        <svg width="82" height="70" viewBox="0 0 82 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.47699 28C0.47699 26.7623 0.968655 25.5753 1.84382 24.7002C2.71899 23.825 3.90598 23.3333 5.14366 23.3333H37.8103C39.048 23.3333 40.235 23.825 41.1102 24.7002C41.9853 25.5753 42.477 26.7623 42.477 28V65.3333C42.477 66.571 41.9853 67.758 41.1102 68.6332C40.235 69.5083 39.048 70 37.8103 70H5.14366C3.90598 70 2.71899 69.5083 1.84382 68.6332C0.968655 67.758 0.47699 66.571 0.47699 65.3333V28ZM5.14366 28H37.8103V53.6667H5.14366V28Z" fill="#0ABDE3"/>
            <path d="M37.3474 10.7101L62.5695 1.53002C63.6844 1.12423 64.9218 1.19708 66.0094 1.73253C67.0971 2.26799 67.946 3.22219 68.3693 4.38523L79.5419 35.0819C79.9652 36.2449 79.9283 37.5215 79.4393 38.6308C78.9503 39.7401 78.0492 40.5913 76.9343 40.9971L51.7122 50.1772C50.5973 50.583 49.3599 50.5101 48.2723 49.9747C47.1846 49.4392 46.3357 48.485 45.9124 47.322L34.7398 16.6254C34.3164 15.4623 34.3534 14.1857 34.8424 13.0764C35.3314 11.9671 36.2325 11.1159 37.3474 10.7101V10.7101ZM38.9434 15.0954L48.52 41.4067L73.7421 32.2266L64.1656 5.91525L38.9434 15.0954Z" fill="#0ABDE3"/>
        </svg>
    </div>
    <nav class="nav" id="nav">
        <div class="nav-top">
            <svg class="menu" id="menu" width="32" height="30" viewBox="0 0 32 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.949463 2.5C0.949463 1.83696 1.17774 1.20107 1.58406 0.732233C1.99039 0.263392 2.54149 0 3.11613 0H29.1161C29.6908 0 30.2419 0.263392 30.6482 0.732233C31.0545 1.20107 31.2828 1.83696 31.2828 2.5C31.2828 3.16304 31.0545 3.79892 30.6482 4.26776C30.2419 4.7366 29.6908 5 29.1161 5H3.11613C2.54149 5 1.99039 4.7366 1.58406 4.26776C1.17774 3.79892 0.949463 3.16304 0.949463 2.5Z" fill="#535353"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.949463 15C0.949463 14.337 1.17774 13.7011 1.58406 13.2322C1.99039 12.7634 2.54149 12.5 3.11613 12.5H29.1161C29.6908 12.5 30.2419 12.7634 30.6482 13.2322C31.0545 13.7011 31.2828 14.337 31.2828 15C31.2828 15.663 31.0545 16.2989 30.6482 16.7678C30.2419 17.2366 29.6908 17.5 29.1161 17.5H3.11613C2.54149 17.5 1.99039 17.2366 1.58406 16.7678C1.17774 16.2989 0.949463 15.663 0.949463 15Z" fill="#535353"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.949463 27.5C0.949463 26.8369 1.17774 26.201 1.58406 25.7322C1.99039 25.2634 2.54149 25 3.11613 25H16.1161C16.6908 25 17.2419 25.2634 17.6482 25.7322C18.0545 26.201 18.2828 26.8369 18.2828 27.5C18.2828 28.163 18.0545 28.7989 17.6482 29.2677C17.2419 29.7366 16.6908 30 16.1161 30H3.11613C2.54149 30 1.99039 29.7366 1.58406 29.2677C1.17774 28.7989 0.949463 28.163 0.949463 27.5Z" fill="#535353"/>
            </svg>
            <div class="user">
                <p class="username">Mative</p>
                <div class="search">
                    <label>
                        <svg class="lupe" width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M30.2827 28.431L21.9027 20.051C23.9165 17.6334 24.9207 14.5325 24.7064 11.3934C24.4921 8.25432 23.0759 5.31868 20.7523 3.19718C18.4287 1.07569 15.3766 -0.0683156 12.231 0.00315823C9.08543 0.074632 6.08848 1.35608 3.86364 3.58092C1.63879 5.80577 0.357347 8.80271 0.285873 11.9483C0.214399 15.0939 1.3584 18.146 3.4799 20.4696C5.60139 22.7932 8.53704 24.2094 11.6761 24.4237C14.8152 24.638 17.9161 23.6338 20.3337 21.62L28.7137 30L30.2827 28.431ZM2.54168 12.2457C2.54168 10.2705 3.12739 8.3397 4.22475 6.69738C5.32211 5.05507 6.88184 3.77504 8.70668 3.01916C10.5315 2.26329 12.5395 2.06552 14.4768 2.45086C16.414 2.8362 18.1935 3.78735 19.5902 5.18402C20.9868 6.5807 21.938 8.36017 22.3233 10.2974C22.7087 12.2347 22.5109 14.2427 21.755 16.0675C20.9992 17.8924 19.7191 19.4521 18.0768 20.5494C16.4345 21.6468 14.5036 22.2325 12.5285 22.2325C9.8807 22.2296 7.34223 21.1765 5.46998 19.3042C3.59773 17.432 2.54462 14.8935 2.54168 12.2457V12.2457Z" fill="#CFCFCF"/>
                        </svg>
                        Search by username
                    </label>
                    <input type="text" name="" id="">
                    
                </div>
            </div>
        </div>
        <div class="nav-bottom">
            <div class="album-list" id="album-list">
                <p class="album-name">Album 1</p>
                <svg class="trash" id="trash" width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.28271 7H28.2827L25.9127 28.33C25.8315 29.0641 25.4823 29.7424 24.9321 30.235C24.3819 30.7277 23.6693 31.0001 22.9307 31H9.63471C8.89617 31.0001 8.18356 30.7277 7.63334 30.235C7.08312 29.7424 6.73395 29.0641 6.65271 28.33L4.28271 7Z" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.29997 2.7205C9.5426 2.20595 9.92653 1.771 10.407 1.46637C10.8874 1.16174 11.4446 0.999993 12.0135 1H20.5515C21.1206 0.999709 21.6781 1.16132 22.1588 1.46596C22.6396 1.77061 23.0237 2.20572 23.2665 2.7205L25.2825 7H7.28247L9.29997 2.7205Z" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1.28271 7H31.2827" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.2827 14.5V22" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19.2827 14.5V22" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="album-list" id="album-list">
                <p class="album-name">Album 2</p>
                <svg class="trash" id="trash" width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.28271 7H28.2827L25.9127 28.33C25.8315 29.0641 25.4823 29.7424 24.9321 30.235C24.3819 30.7277 23.6693 31.0001 22.9307 31H9.63471C8.89617 31.0001 8.18356 30.7277 7.63334 30.235C7.08312 29.7424 6.73395 29.0641 6.65271 28.33L4.28271 7Z" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.29997 2.7205C9.5426 2.20595 9.92653 1.771 10.407 1.46637C10.8874 1.16174 11.4446 0.999993 12.0135 1H20.5515C21.1206 0.999709 21.6781 1.16132 22.1588 1.46596C22.6396 1.77061 23.0237 2.20572 23.2665 2.7205L25.2825 7H7.28247L9.29997 2.7205Z" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1.28271 7H31.2827" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.2827 14.5V22" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19.2827 14.5V22" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="album-list" id="album-list">
                <p class="album-name">Album 3</p>
                <svg class="trash" id="trash" width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.28271 7H28.2827L25.9127 28.33C25.8315 29.0641 25.4823 29.7424 24.9321 30.235C24.3819 30.7277 23.6693 31.0001 22.9307 31H9.63471C8.89617 31.0001 8.18356 30.7277 7.63334 30.235C7.08312 29.7424 6.73395 29.0641 6.65271 28.33L4.28271 7Z" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.29997 2.7205C9.5426 2.20595 9.92653 1.771 10.407 1.46637C10.8874 1.16174 11.4446 0.999993 12.0135 1H20.5515C21.1206 0.999709 21.6781 1.16132 22.1588 1.46596C22.6396 1.77061 23.0237 2.20572 23.2665 2.7205L25.2825 7H7.28247L9.29997 2.7205Z" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1.28271 7H31.2827" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.2827 14.5V22" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19.2827 14.5V22" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="album-list" id="album-list">
                <p class="album-name">Album 4</p>
                <svg class="trash" id="trash" width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.28271 7H28.2827L25.9127 28.33C25.8315 29.0641 25.4823 29.7424 24.9321 30.235C24.3819 30.7277 23.6693 31.0001 22.9307 31H9.63471C8.89617 31.0001 8.18356 30.7277 7.63334 30.235C7.08312 29.7424 6.73395 29.0641 6.65271 28.33L4.28271 7Z" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.29997 2.7205C9.5426 2.20595 9.92653 1.771 10.407 1.46637C10.8874 1.16174 11.4446 0.999993 12.0135 1H20.5515C21.1206 0.999709 21.6781 1.16132 22.1588 1.46596C22.6396 1.77061 23.0237 2.20572 23.2665 2.7205L25.2825 7H7.28247L9.29997 2.7205Z" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1.28271 7H31.2827" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.2827 14.5V22" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19.2827 14.5V22" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="album-list" id="album-list">
                <p class="album-name">Album 5</p>
                <svg class="trash" id="trash" width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.28271 7H28.2827L25.9127 28.33C25.8315 29.0641 25.4823 29.7424 24.9321 30.235C24.3819 30.7277 23.6693 31.0001 22.9307 31H9.63471C8.89617 31.0001 8.18356 30.7277 7.63334 30.235C7.08312 29.7424 6.73395 29.0641 6.65271 28.33L4.28271 7Z" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.29997 2.7205C9.5426 2.20595 9.92653 1.771 10.407 1.46637C10.8874 1.16174 11.4446 0.999993 12.0135 1H20.5515C21.1206 0.999709 21.6781 1.16132 22.1588 1.46596C22.6396 1.77061 23.0237 2.20572 23.2665 2.7205L25.2825 7H7.28247L9.29997 2.7205Z" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1.28271 7H31.2827" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.2827 14.5V22" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19.2827 14.5V22" stroke="#898989" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="create-album">
                <p>Create a new album</p>
                <svg class="plus" id="plus" width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.2827 0C15.78 0 16.2569 0.197544 16.6085 0.549175C16.9602 0.900806 17.1577 1.37772 17.1577 1.875V13.125H28.4077C28.905 13.125 29.3819 13.3225 29.7335 13.6742C30.0852 14.0258 30.2827 14.5027 30.2827 15C30.2827 15.4973 30.0852 15.9742 29.7335 16.3258C29.3819 16.6775 28.905 16.875 28.4077 16.875H17.1577V28.125C17.1577 28.6223 16.9602 29.0992 16.6085 29.4508C16.2569 29.8025 15.78 30 15.2827 30C14.7854 30 14.3085 29.8025 13.9569 29.4508C13.6053 29.0992 13.4077 28.6223 13.4077 28.125V16.875H2.15771C1.66043 16.875 1.18352 16.6775 0.83189 16.3258C0.480259 15.9742 0.282715 15.4973 0.282715 15C0.282715 14.5027 0.480259 14.0258 0.83189 13.6742C1.18352 13.3225 1.66043 13.125 2.15771 13.125H13.4077V1.875C13.4077 1.37772 13.6053 0.900806 13.9569 0.549175C14.3085 0.197544 14.7854 0 15.2827 0V0Z" fill="#DF558A"/>
                </svg>
            </div>
        </div>
    </nav>
    <div class="main" id="main">
        <div class="album-top" id="album-top">
            <p class="album-name">Album 1</p>
            <svg class="album-link" id="album-link" width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.8559 13.4268C17.4908 12.0622 15.6396 11.2957 13.7094 11.2957C11.7792 11.2957 9.92808 12.0622 8.56295 13.4268L3.4148 18.5732C2.04965 19.9384 1.28271 21.7899 1.28271 23.7206C1.28271 25.6512 2.04965 27.5027 3.4148 28.8679C4.77995 30.233 6.6315 31 8.56211 31C10.4927 31 12.3443 30.233 13.7094 28.8679L16.2827 26.2946" stroke="#0ABDE3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.7097 18.5733C15.0748 19.9378 16.926 20.7044 18.8562 20.7044C20.7864 20.7044 22.6375 19.9378 24.0027 18.5733L29.1508 13.4268C30.516 12.0616 31.2829 10.2101 31.2829 8.27946C31.2829 6.34884 30.516 4.4973 29.1508 3.13215C27.7857 1.767 25.9341 1.00006 24.0035 1.00006C22.0729 1.00006 20.2213 1.767 18.8562 3.13215L16.283 5.70539" stroke="#0ABDE3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="album" id="">

            <div class="cell">
                <div class="img">
                    <img src="/img/img-1.png" loading="lazy" alt="" title="">
                </div>
            </div>
            <div class="cell">
                <div class="img">
                    <img src="/img/img-4.png" loading="lazy" alt="" title="">
                </div>
            </div>
            <div class="cell">
                <div class="img">
                    <img src="/img/img-2.png" loading="lazy" alt="" title="">
                </div>
            </div>
            <div class="cell">
                <div class="img">
                    <img src="/img/img-6.png" loading="lazy" alt="" title="">
                </div>
            </div>
            <div class="cell">
                <div class="img">
                    <img src="/img/img-3.png" loading="lazy" alt="" title="">
                </div>
            </div>
            <div class="cell">
                <div class="img">
                    <img src="/img/img-5.png" loading="lazy" alt="" title="">
                </div>
            </div>
            
            
            
            
            
        </div>
        <div class="add-remove">
            <div class="add-pic">
                <p>Add image</p>
                <svg width="43" height="25" viewBox="0 0 43 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 2.5C0.5 1.83696 0.757539 1.20107 1.21596 0.732233C1.67438 0.263392 2.29614 0 2.94444 0H20.0556C20.7039 0 21.3256 0.263392 21.784 0.732233C22.2425 1.20107 22.5 1.83696 22.5 2.5V22.5C22.5 23.163 22.2425 23.7989 21.784 24.2678C21.3256 24.7366 20.7039 25 20.0556 25H2.94444C2.29614 25 1.67438 24.7366 1.21596 24.2678C0.757539 23.7989 0.5 23.163 0.5 22.5V2.5ZM2.94444 2.5H20.0556V16.25H2.94444V2.5Z" fill="#535353"/>
                    <path d="M36 6C36.2155 6 36.4222 6.0856 36.5745 6.23798C36.7269 6.39035 36.8125 6.59701 36.8125 6.8125V11.6875H41.6875C41.903 11.6875 42.1097 11.7731 42.262 11.9255C42.4144 12.0778 42.5 12.2845 42.5 12.5C42.5 12.7155 42.4144 12.9222 42.262 13.0745C42.1097 13.2269 41.903 13.3125 41.6875 13.3125H36.8125V18.1875C36.8125 18.403 36.7269 18.6097 36.5745 18.762C36.4222 18.9144 36.2155 19 36 19C35.7845 19 35.5778 18.9144 35.4255 18.762C35.2731 18.6097 35.1875 18.403 35.1875 18.1875V13.3125H30.3125C30.097 13.3125 29.8903 13.2269 29.738 13.0745C29.5856 12.9222 29.5 12.7155 29.5 12.5C29.5 12.2845 29.5856 12.0778 29.738 11.9255C29.8903 11.7731 30.097 11.6875 30.3125 11.6875H35.1875V6.8125C35.1875 6.59701 35.2731 6.39035 35.4255 6.23798C35.5778 6.0856 35.7845 6 36 6V6Z" fill="#535353"/>
                </svg>
            </div>
            <div class="del-pic">
                <p>Remove image</p>
                <svg width="44" height="25" viewBox="0 0 44 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 2.5C0.5 1.83696 0.757539 1.20107 1.21596 0.732233C1.67438 0.263392 2.29614 0 2.94444 0H20.0556C20.7039 0 21.3256 0.263392 21.784 0.732233C22.2425 1.20107 22.5 1.83696 22.5 2.5V22.5C22.5 23.163 22.2425 23.7989 21.784 24.2678C21.3256 24.7366 20.7039 25 20.0556 25H2.94444C2.29614 25 1.67438 24.7366 1.21596 24.2678C0.757539 23.7989 0.5 23.163 0.5 22.5V2.5ZM2.94444 2.5H20.0556V16.25H2.94444V2.5Z" fill="#535353"/>
                    <path d="M42.5 12.5H29.5" stroke="#535353" stroke-width="2" stroke-linecap="round"/>
                </svg>
            </div>
        </div>
    </div>
    <footer></footer>
</body>
</html>