<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="/img/polaroid.png" type="image/x-icon">

    <link rel="stylesheet" href="/styles/css/styles.css">
    <link rel="stylesheet" href="/styles/css/normalize.css">
    <script src="https://kit.fontawesome.com/9ec8210292.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container" id='container'>
        <div class="left" id='left'>
            <img src="/img/pics_bg.jpg" loading="lazy" alt="bg-pictures">
            <div class="age">
                <svg width="82" height="70" viewBox="0 0 82 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.47699 28C0.47699 26.7623 0.968655 25.5753 1.84382 24.7002C2.71899 23.825 3.90598 23.3333 5.14366 23.3333H37.8103C39.048 23.3333 40.235 23.825 41.1102 24.7002C41.9853 25.5753 42.477 26.7623 42.477 28V65.3333C42.477 66.571 41.9853 67.758 41.1102 68.6332C40.235 69.5083 39.048 70 37.8103 70H5.14366C3.90598 70 2.71899 69.5083 1.84382 68.6332C0.968655 67.758 0.47699 66.571 0.47699 65.3333V28ZM5.14366 28H37.8103V53.6667H5.14366V28Z" fill="#0ABDE3"/>
                    <path d="M37.3474 10.7101L62.5695 1.53002C63.6844 1.12423 64.9218 1.19708 66.0094 1.73253C67.0971 2.26799 67.946 3.22219 68.3693 4.38523L79.5419 35.0819C79.9652 36.2449 79.9283 37.5215 79.4393 38.6308C78.9503 39.7401 78.0492 40.5913 76.9343 40.9971L51.7122 50.1772C50.5973 50.583 49.3599 50.5101 48.2723 49.9747C47.1846 49.4392 46.3357 48.485 45.9124 47.322L34.7398 16.6254C34.3164 15.4623 34.3534 14.1857 34.8424 13.0764C35.3314 11.9671 36.2325 11.1159 37.3474 10.7101V10.7101ZM38.9434 15.0954L48.52 41.4067L73.7421 32.2266L64.1656 5.91525L38.9434 15.0954Z" fill="#0ABDE3"/>
                </svg>
                <p class="slogan">Capture every moment!!</p>
                <div class="social">
                    <div class="links">
                        <a href="https://github.com/m-alvarado/" title="Git hub | Matias Alvarado" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="https://linkedin.com/in/Matias-Alvarado" title="Linkedin | Matias Alvarado" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="https://github.com/m-alvarado/" title="Facebook | Matias Alvarado" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </div>
                    
                    <p>By Matías Alvarado.</p>
                </div>
            </div>
        </div>
        <div class="right" id='right'>
            <p class="sing-up">Sing up.</p>
            <form action="" method="POST">
                <input type="text" placeholder="User" required>
                <input type="email" placeholder="E-mail" required>
                <input type="password" placeholder="Password" required>
                <input type="submit" value="Sing up">
            </form>
            <p class="log-in">Already hace an account, <a href="#"><span>Log in </span></a>.</p>
        </div>
    </div>
</body>
</html>