@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

//weights
$f-light:300;
$regular:400;
$medium:500;
$semi-bold:600;
$bold:700;
$extra-bold:800;


@mixin font-style($font-weight, $font-size){
    font-family: 'Poppins', sans-serif;
    font-weight: $font-weight;
    font-style: normal;
    font-size: $font-size;
}
